 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/FDS-min.jpg');
}

.u-section-1 .u-sheet-1 {
  min-height: 944px;
}

.u-section-1 .u-image-1 {
  width: 243px;
  height: 186px;
  margin: 156px auto 0;
}

.u-section-1 .u-text-1 {
  width: 589px;
  letter-spacing: 2px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(71,77,117,0.4);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  width: 861px;
  margin: 59px auto 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-weight: 300;
  font-size: 1.875rem;
  font-family: Lato, sans-serif;
  text-transform: none;
  width: 714px;
  font-style: italic;
  margin: 86px auto 0;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 50px;
  height: 64px;
  margin: 48px auto 60px;
}

.u-section-1 .u-icon-1 {
  width: 50px;
  height: 64px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
  padding: 7px;
}

.u-section-1 .u-text-4 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 1rem;
  font-family: Lato, sans-serif;
  text-transform: none;
  width: auto;
  font-style: italic;
  margin: -323px 0 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 41px;
    margin-left: 12px;
  }

  .u-section-1 .u-icon-1 {
    margin: 31px auto 0 444px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-rotation-parent-1 {
    height: 646px;
    margin-top: -402px;
    margin-right: 323px;
    margin-bottom: 0;
  }

  .u-section-1 .u-icon-1 {
    height: 646px;
    left: 0;
    top: 696px;
    margin-top: 0;
    margin-right: 670px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -614px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 255px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -323px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1127px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -110px;
    margin-right: 290px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -181px;
    margin-left: 161px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-top: -668px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(41,42,51,0.35), rgba(41,42,51,0.35)), url("images/360_F_471002062_tCBbTqeeMhHgMfCW86mQhdgpETooy3ID.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 644px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 317px;
  margin: 123px auto 0;
}

.u-section-2 .u-text-2 {
  width: 760px;
  margin: 30px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 23.25px));
  min-height: 217px;
  grid-gap: 31px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 16px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin: 16px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: 16px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-2 .u-text-6 {
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 176px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-2 .u-text-1 {
    width: 396px;
    margin-top: 42px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 54px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15.5px));
    min-height: 402px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15.5px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/abstract-background-gradient-red-purple-pink-blue-background-for-your-content-like-as-video-gaming-broadcast-streaming-promotion-advertise-presentation-sport-marketing-ads-webinar-anymore-free-photo.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 576px;
}

.u-section-3 .u-shape-1 {
  width: 626px;
  height: 407px;
  margin: 90px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -343px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 262px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 30px 29px;
}

.u-section-3 .u-text-1 {
  width: 71px;
  margin: 25px auto 0;
}

.u-section-3 .u-text-2 {
  width: 170px;
  margin: 3px auto 0;
}

.u-section-3 .u-text-3 {
  width: 71px;
  margin: 23px auto 0;
}

.u-section-3 .u-text-4 {
  width: 170px;
  margin: 3px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 262px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-text-5 {
  background-image: none;
  margin: 0;
}

.u-section-3 .u-line-1 {
  height: 6px;
  transform-origin: left center;
  width: 230px;
  margin: 30px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 216px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 67px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
    height: 351px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -287px;
  }

  .u-section-3 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 180px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    height: 221px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -157px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 25px;
  }
}